/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*font-family: 'Libre Baskerville', serif;*/
  font-family: 'Muli', serif;
  position: relative;
}
p, address   {
  font-size: 18px;
  line-height: 1.7;
  margin:0 0 27px;
}
h1 {
  font-size:64px;
  line-height: 84px;
  font-family: 'Ovo', sans-serif;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size:36px;
  line-height:52px;
  font-family: 'Ovo', sans-serif;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
.panel-short h3 {
  text-transform: uppercase;
  font-size:12px;
}
.jumbo-subhead {
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.col-md-6 .col-md-offset-6 {
  padding-left:30px;
}

/* text bg */
.text-bg {
  background-color: rgba(63, 88, 109, 0.6);
  width:50%;
  position:absolute;
}

#aboutus-tbg {
  margin-left:50%;
}

#engagement-tbg {
  margin-right:50%;
}

/* nav bar */

.navbar-inverse {
    background-color: #23455B;
    border-color: #152B39;
}

.navbar-inverse .navbar-toggle {
    border: 0 none;
}

.navbar-toggle {
    float: none;;
    margin-left: 37%;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #23455B;
}

.menu-text {
  color: #fff;
  float: left;
}

.menu-text p {
  line-height: 16px;
  margin: 0;
}

.icon-bar {
  margin-left: 57px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #E2CD21;
    background-color: #23455B;
}

a.active {
  color: #E2CD21;
}
/* Mobile Nav icon */

.navbar-toggle .icon-bar:nth-of-type(4) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(5) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(4) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(5) {
	  top: -6px;
	  transform: rotate(-45deg);
}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* Accomodations panel */
#accomodations {
  padding-bottom: 150px;
}

#accomodations h2 {
  margin-top: 150px;
  margin-bottom:35px;
  text-align: center;
}
hr {
  width: 15%;
  margin-bottom:50px;
  border-color: #23455B;
}
.hotel h3 {
  margin-bottom:0;
}
.hotel h4 {
  font-weight:700;
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.hotel p.map-link {
  margin-bottom:32px;
}
.hotel p {
  margin-bottom: 15px;
    font-size: 16px;
}
.alt-accomodations{
  margin-top:75px;
}


/* Bear Icon */

.bear-icon{
  top: 60px;
  position: absolute;
  z-index: 80;
}

.in-view.bear-icon {
  top: 7px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.bear-icon-box {
  height: 91px;
  margin-top: 60px;
  display: block;
  position: absolute;
  z-index: 9999;
  top: 1px;
  width: 80px;
  background-color: white;
}
.pocket {
  height:151px;
  width: 80px;
  position: fixed;
  bottom: -91px;
  left: 80%;
  z-index: 8888;
}
.pocket a {
  z-index:9000;
  width: 80px;
  height:60px;
  display:block;
}
.pocket a:hover img{
  top: 0px;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* panels */
.panel {
  padding-top:300px;
  padding-bottom:300px;
}
.panel-short {
  padding-top:150px;
  padding-bottom:150px;
  text-align: center;
}
.panel-color {
  padding-top:200px;
  padding-bottom:200px;
  padding-left:30px;
}
.panel p {
  text-align:left;
  color:#fff;
}
.panel h2 {
  color:#E2CD21;
}

/* jumbotron hero panel */
.jumbotron-hero {
  background-image: url(../assets/img/hero-nr-tree.png);
  background-size: cover;
  background-attachment: fixed;
}
.hero h1, .hero p {
  text-align:center;
  color: #fff;
}

/* jumbotron about us panel */
.jumbotron-aboutus {
  background-image: url(../assets/img/about-us.png);
  background-size: cover;
  background-position-x: 49%;
}

/* jumbotron about us panel */
.jumbotron-our-engagement {
  background-image: url(../assets/img/our-engagement.png);
  background-size: 145%;
}



@media (max-width: 1400px) {
  .jumbotron-hero {
    background-size:100%;
    background-repeat: no-repeat;
    background-position-x: 50%
  }
}

@media (min-width: 1100px) {
  .jumbotron-our-engagement {
    background-position-y: 34%;
  }
}
@media (max-width: 991px) and (min-width: 501px) {
  .jumbotron-our-engagement {
    background-position-x: 29%;
    background-size: cover;
  }
  #about-us .col-sm-6 {
    float:right;
  }
}

@media (max-width: 889px) {
  .jumbotron-our-engagement {
    background-size:cover;
  }
}

@media (max-width: 767px) and (min-width:667px){
  .panel-color {
    margin-top: 30%;
  }
}
@media (min-width:768px) and (max-width:1115px){
  .jumbotron-aboutus{
    background-position: 39%;
  }
}
@media (max-width: 767px) {
  .jumbotron-hero {
    background-size:167%;
    background-repeat: no-repeat;
    background-color: #23455B;
    background-position-x:50%;
  }
  .jumbotron-aboutus, .jumbotron-our-engagement {
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #23455B;
  }
  .hero.panel {
    padding-top: 130px;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 27px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  .text-bg {
    width:0;
  }
  .panel-color {
    padding-top: 250px;
    padding-bottom: 50px;
    padding-left:15px;
  }
  .panel-short {
    padding-top:100px;
    padding-bottom:100px;
  }
  .hotel p.map-link {
    margin-bottom:18px;
    margin-top: 5px;
  }
  .hotel h3 {
    margin-top:30px;
  }
  .alt-accomodations{
    margin-top:10px;
  }
  #accomodations h2 {
    margin-top: 100px;
  }
}
@media (max-width:400px){
  .jumbo-subhead {
    display:none;
  }
  h1 {
    margin-top:40%;
  }
}
